{% extends 'base.html' %}
{% block 'title' %} password reset  {% endblock %}
{% block 'body' %}
 <div class="container">
     <div class="row justify-content-md-center">
         <div class="col-8">
             <div class="card login-card  bg-primary">
                 {% include 'messages/message.html' %}
                 <div class="card-header text-center">
                     Reset-Password
                 </div>
                 <div class="card-body">
                    {% if validlink %}
                     <p>Please enter your new password twice: </p>
                     <form action="." method="post">
                         {{ form.as_p}}
                         {% csrf_token %}
                         <button type='submit' class='btn btn-success' style='float:right;' value="change password ">change</button><br>
                     </form>
                    {% else %}
                      <p>the password reset link is invalid,request a new password reset again.</p>
                     {% endif %}
                 </div>

             </div>
         </div>
     </div>
 </div>
{% endblock %}
